<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js" async></script>
</head>
<body>
<div id="country_searching-form">
    <form>
        <h2>Поиск страны</h2>
        <label>Поиск по названию:</label>
        <input id="countryName" type="text" name="name" value="">
        <label>Поиск по домену:</label>
        <input id="countryDomain" type="text" name="domain" value="">
    </form>
</div>

<div>
    <hr>
    <input id="refresh-countries" type='button' value='Обновить Страны'>
</div>

<div id="country">

</div>
</body>
</html>